.git
.bkg
.snapshot
.env
.pytest_cache
.ruff_cache
.coverage*
htmlcov
.venv
src/env.env
docs

index
index-*
*.db
*.db-*
*.db.*
*.sql
*.sql.*

**/__pycache__
**/*.py[cod]
*.egg-info
build
dist
node_modules
.astro
**/build
**/dist
**/node_modules
**/.astro
